OPENAI_API_KEY=ADD_OPENAI_API_KEY
GROQ_API_KEY=ADD_KEY_HERE

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=ADD_LANGSMITH_API_KEY
LANGCHAIN_PROJECT=project_name
MISTRAL_API_KEY=ADD_MISTRAL_API_KEY
